*{
    ::-webkit-scrollbar{
        display: none;
    }

    overflow: scroll;
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
}

.logo{
    margin: 0 10vw 0 10vw ;
    cursor: pointer;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    height: 80vh;
    width:  70vw;
    margin: 0 10vw 0 10vw;
    padding: 20px;
    border-radius: 20px;
    
}

.main-container button{
    height: 30%;
    width: 40%;
    margin-top: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0),rgba(0, 0, 0, 0.826));
    border-radius: 20px;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: azure;
    cursor: pointer;
}

.main-container p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: hsla(180, 100%, 97%, 0.60);
}


