*{
    ::-webkit-scrollbar{
        display: none;
    }

    overflow: scroll;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}
.active{
    background-color: yellow;
    text-decoration: underline;
    font-size: 14px;
}

.logo{
    margin: 0 10vw 0 10vw ;
    cursor: pointer;
}

.main-container{
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    height: 80vh;
    width:  70vw;
    margin: 0 10vw 0 10vw;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "myself myself myself myself about about"
        "myself myself myself myself about about"
        "blogs blogs skills skills links links"
        "blogs blogs skills skills links links";
    grid-gap: 0.5rem;
}


.myself{
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-area: myself;
    border-radius: 15px;
}

.myself img{
   width: 40%;
   height: 90%;
   border-radius: 15px;
}

.myself .myself-info{
    width: 50%;
    height: 85%;
    color: white;
    font-size: 18px;

}

.about{
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    grid-area: about;
    border-radius: 15px;
    padding-top: 10px;
}
.about .aboutbtns-div{
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}
.about .aboutbtns-div button{
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0),rgb(255, 72, 72));
    height: 100%;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
}

.about .about-info{
    height: 75%;
    width: 90%;
    margin: 10px;
    color: rgba(240, 248, 255, 0.701);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
    display: none;
}


.blogs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    grid-area: blogs;
    border-radius: 15px;
    
}
.blogs h2{
    text-align: center;
    height: 15%;
    width: 100%;
    color: rgba(52, 192, 147, 0.64);
}
.blogs .blog-item{
    display: flex;
    flex-wrap:wrap ;
    height: 70%;
    width: 100%;
}
.blogs .blog-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    height: 30%;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;    
}

.skills{
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    grid-area: skills;
    border-radius: 15px;

}

.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    grid-area: links;
    border-radius: 15px;

}
.links h2{
    height: 15%;
    width:100%;
    margin: 0;
    text-align: center;
    color: aqua;
}

.links .link-item1{
    display: flex;
    flex-wrap: wrap;
    height: 35%;
    width: 100%;
}
.links .link-item1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    height: 40%;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}
.links .link-item2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
}

.links .link-item2 a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    height: 40%;
    width: 30%;
    border-radius: 10px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 14px;
    color: aliceblue;
    text-align: center;
}



@media only screen and (max-width:500px){

    .main-container{
        height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1.5fr 1fr 1fr;
        grid-template-areas: 
            "myself"
            "about"
            "blogs"
            "skills"
            "links";

    }
    
    .myself{
        flex-direction: column;
    }
    .myself img{
        width: 50%;
        margin-top: 10px;
     }
    .myself .myself-info{
        width: 80%;
    }


}