*{
    ::-webkit-scrollbar{
        display: none;
    }

    overflow: scroll;
    scroll-behavior: smooth;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.logo{
    margin: 0 10vw 0 10vw ;
    cursor: pointer;
}

.main-container{
    background-image: linear-gradient(to bottom right, rgba(59, 59, 59, 0.464),rgba(27, 27, 27, 0.377));
    height: 80vh;
    width:  70vw;
    margin: 0 10vw 0 10vw;
    padding: 20px;
    border-radius: 20px;
    
}